<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header">
  <div>
    <a
      mat-button
      mat-raised-button
      routerLink="activities"
      routerLinkActive="active"
      ><fa-icon
        [icon]="faHome"
        [styles]="{ stroke: 'blue', color: 'blue' }"
        size="2x"
      ></fa-icon
    ></a>
  </div>
  <span class="nav-tool-items">
    <h1 *ngIf="authenticationService.userData | async">
      Hello {{ (authenticationService.userData | async)?.email }}
      <a mat-button mat-raised-button (click)="logOut()">Log out</a>
    </h1>
    <ng-container *ngIf="!(authenticationService.userData | async)">
      <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
      <a
        mat-button
        mat-raised-button
        routerLink="register"
        routerLinkActive="active"
        >Register</a
      ></ng-container
    >
  </span>
</mat-toolbar>

<router-outlet></router-outlet>
