<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Activity</mat-card-title>
    </mat-card-header>

    <form class="example-form" [formGroup]="activityForm">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Title" formControlName="title" />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Counselor" formControlName="counselor" />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Type</mat-label>
          <mat-select formControlName="type">
            <mat-option [value]="type" *ngFor="let type of group"
              >{{ type }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Meeting Url" formControlName="url" />
        </mat-form-field>
      </mat-card-content>
      <button
        mat-stroked-button
        color="accent"
        class="btn-block"
        (click)="submit()"
      >
        Log in
      </button>
    </form>
  </mat-card>
</div>
